<div class="row" style="height: 100%">
  <div class="col-sm-4">
    <h1>Random Rory</h1>
    <p>Rory ID: <%= @image['id'] %></p>
    <p>Total Rorys: <%= @total %></p>
    <p><a href="/purr">Rory REST API</a></p>
    <p><a href="https://discord.gg/jTggjT2" target="_blank">Rory Simping Discord Server</a></p>
  </div>
  <div class="col">
    <a href="<%= @image['url'] %>"><img src="<%= @image['url'] %>" alt="rory" title="rory" id="rory"/></a>
  </div>
</div>